body {
    background-image: url("patroon.png");background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Architects Daughter', cursive;
}

p {
    max-width: 600px;
    color: black;
    font-family: 'helvetica';
    font-size: 1em;
    line-height: 1.4em;
    font-family: 'Architects Daughter', cursive;

}

h1{
    font-family: 'chewy';
    padding-bottom: 20px;
    font-size: 4em;
    color: orange;
}

.tekst{
    width: 800px;
    margin: 5% auto;
    padding: 100px;
    animation: fade-in 1s;
    background-color: white;
}

@keyframes fade-in{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.terug{
    width: 35px;
    margin: 0 auto;
    padding-top: 20px;
    display: block;
}
.img2{width: 210px;height: 325px;transition: transform 1s;-webkit-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);}
.img2:hover{transform: scale(1.1)}

.img3{width: 210px;height: 325px;transition: transform 1s;margin-left: 50px;-webkit-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);}
.img3:hover{transform: scale(1.1)}

.img4{width: 210px;height: 325px;transition: transform 1s;margin-left: 50px;-webkit-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);}
.img4:hover{transform: scale(1.1)}



.img5{width: 210px;height: 325px;transition: transform 1s;margin-top: 50px;-webkit-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);}
.img5:hover{transform: scale(1.1)}

.img6{width: 210px;height: 325px;transition: transform 1s;margin-left: 50px;margin-top: 50px;-webkit-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);}
.img6:hover{transform: scale(1.1)}

.img7{width: 210px;height: 325px;transition: transform 1s;margin-left: 50px;margin-top: 50px;-webkit-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);}
.img7:hover{transform: scale(1.1)}

.kleine{width: 750px;margin: 10px auto;}

/* reset */
#wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 200;
}

label {
  cursor: pointer;
}
label:focus {
  outline: none;
}

.menu {
  position: fixed;
  z-index: 200;
  top: 0px;
  left: 0px;
  background: rgba(5,5,5,0.8);
  width: 240px;
  height: 100%;
  transform: translate3d(-240px, 0, 0);
  transition: transform 0.35s;
}
.menu label.menu-toggle {
  position: fixed;
  right: -60px;
  width: 60px;
  height: 60px;
  line-height: 0px;
  display: block;
  padding: 0;
  text-indent: -9999px;
  background: #fff url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50%/25px 25px no-repeat;
}
.menu ul li > label {
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50%/16px 16px no-repeat;
}
.menu ul li a, .menu ul li label {
  display: block;
  text-align: center;
  padding: 0 20px;
  line-height: 60px;
  text-decoration: none;
  color: rgb(200,200,200);
}
.menu ul li a:hover, .menu ul li label:hover {
  color: rgb(150,150,150);
}

/* hide inputs */
.menu-checkbox {
  display: none;
}

/* hide navigation icon for sublabels */
.menu .menu label.menu-toggle {
  background: none;
}

/* fade in checked menu */
.menu-checkbox:checked + .menu {
  transform: translate3d(0, 0, 0);
}

   
#info {
  display: table;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}
#info #info-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}
#info #info-content h1 {
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  font-size: 22px;
  font-weight: normal;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}
#info #info-content h1 strong {
  display: block;
  font-size: 26px;
}







@media screen and (max-width: 1050px) {
    .tekst{
        width: 500px;
    }
    
    .kleine{
        width: 500px;
    }
    
    .img4{
        margin-left: 0px;
    }
    
    .img5{
        margin-left: 50px;
    }
}


@media screen and (max-width: 900px) {
    .tekst{
        width: 500px;
    }
    
    .kleine{
        width: 500px;
    }
    
    .img4{
        margin-left: 0px;
    }
    
    .img5{
        margin-left: 50px;
    }
}

@media screen and (max-width: 800px) {
    .tekst{
        width: 480px;
        padding: 50px;
    
    }
    
    .foto{
        width: 450px;
    }
}


@media screen and (max-width: 700px) {
    .tekst{
        width: 310px;
        padding: 50px;
    
    }
    
    .kleine{
        width: 310px;
    }
    
    .img2{
        margin-left: 50px;
    }
    .img3{
        margin-top: 50px;
        margin-left: 50px;
    }
    .img4{
        margin-top: 50px;
        margin-left: 50px;
    }
    .img5{margin-left: 50px;}
    
    
}

@media screen and (max-width: 600px) {
    .tekst{
        width: 310px;
        padding: 50px;
    
    }
    
    .kleine{
        width: 310px;
    }
    
    .img2{
        margin-left: 50px;
    }
    .img3{
        margin-top: 50px;
        margin-left: 50px;
    }
    .img4{
        margin-top: 50px;
        margin-left: 50px;
    }
    .img5{margin-left: 50px;}
}


@media screen and (max-width: 550px) {
.tekst{
        width: 310px;
        padding: 50px;
    
    }
    
    .kleine{
        width: 310px;
    }
    
    .img2{
        margin-left: 50px;
    }
    .img3{
        margin-top: 50px;
        margin-left: 50px;
    }
    .img4{
        margin-top: 50px;
        margin-left: 50px;
    }
    .img5{margin-left: 50px;}
    
    h1{
        font-size: 4.5em;
    }
}

@media screen and (max-width: 450px) {
.tekst{
        width: 210px;
        padding: 50px;
    
    }
    
    .kleine{
        width: 210px;
    }
    
    .img2{
        margin-left: 0px;
    }
    .img3{
        margin-top: 50px;
        margin-left: 0px;
    }
    .img4{
        margin-top: 50px;
        margin-left: 0px;
    }
    .img5{margin-left: 0px;}
}